# Lab 13: Misc Practice

In [92]:
options(repr.plot.width=6, repr.plot.height=4)

library(tidyverse)
library(stringr)
library(tidytext)
library(lubridate)
library(nycflights13)
library(scales)

## Q1: Working with logicals

### 1.1

Given a logical vector, consider a function that returns `TRUE` if every element is `TRUE`, and returns `FALSE` if any element is `FALSE`. Have this function ignore missing values (don't worry about empty vectors or vectors will all missing values).

Write the function `all_iter` which uses iteration/loops to perform this calculation.

Write the function `all_func` which uses functional programming tools.

In [30]:
all_iter = function(x) {
    
}

In [31]:
all_func = function(x) {

}

In [32]:
stopifnot(all_iter(c(TRUE, TRUE, TRUE)))
stopifnot(!all_iter(c(TRUE, TRUE, FALSE)))
stopifnot(!all_iter(c(FALSE, FALSE, FALSE)))
stopifnot(all_iter(c(TRUE, TRUE, NA)))
stopifnot(!all_iter(c(TRUE, FALSE, NA)))
stopifnot(all_iter(c(NA, TRUE, NA)))

stopifnot(all_func(c(TRUE, TRUE, TRUE)))
stopifnot(!all_func(c(TRUE, TRUE, FALSE)))
stopifnot(!all_func(c(FALSE, FALSE, FALSE)))
stopifnot(all_func(c(TRUE, TRUE, NA)))
stopifnot(!all_func(c(TRUE, FALSE, NA)))
stopifnot(all_func(c(NA, TRUE, NA)))

### 1.2

Now consider the function that does the opposite, returns `TRUE` if any of the elements are `TRUE`, and returns `FALSE` if all of the elements are `FALSE`.

Write a function `any_func` that does this. Hint: this function can be written extremely simply given a correct implementation of `all_func` or `all_iter` if you think carefully about what this is doing.

In [35]:
any_func = function(x) {

}

In [36]:
stopifnot(any_func(c(TRUE, TRUE, TRUE)))
stopifnot(any_func(c(TRUE, TRUE, FALSE)))
stopifnot(!any_func(c(FALSE, FALSE, FALSE)))
stopifnot(any_func(c(TRUE, TRUE, NA)))
stopifnot(any_func(c(TRUE, FALSE, NA)))
stopifnot(!any_func(c(FALSE, FALSE, NA)))
stopifnot(any_func(c(NA, TRUE, NA)))

Note that `any` and `all` are built-in `R` functions that do the same things as the above functions you wrote.

### 1.3

Write a function `exists_outlier` that takes a vector and checks if an outlier exists. We define an outlier to be a point that is more than 2.5x the standard deviation away from the mean.

In [50]:
exists_outlier = function(x) {

}

In [51]:
stopifnot(!exists_outlier(c(1, 2, 3, 4, 5)))
stopifnot(exists_outlier(c(rep(1, 20), 5)))

### 1.4

The following code creates a dataframe `dat`. Write a one-liner using `exists_outlier` that prints the variable names of `dat` that contain an outlier.

In [78]:
set.seed(123515)
dat = data.frame(X1=rnorm(30))
for (varn in 2:20) {
    dat[[paste0('X', varn)]] = rnorm(30)
}

In [ ]:
names(dat)[   ] %>% print

## Q2: Max and Argmax

### 2.1

Define the function `max_iter` that takes a vector and returns the maximum element by iterating through the elements of the vector.

Define the function `max_func` that does the same thing using `reduce`. Note: don't use the `max` function, instead define your own function that goes into the reduce.

In [211]:
max_iter = function(x) {

}

In [212]:
reduce_max = function...

max_func = function(x) {
    reduce(x, reduce_max)
}

In [213]:
test = rnorm(100)
stopifnot(max_iter(test) == max(test))
stopifnot(max_func(test) == max(test))

### 2.2

Define the function `argmax_iter` that takes a vector and returns the index maximum element using iteration/loops. If there is a tie return the index of the first time the max appears. Hint: you may need to keep track of multiple things as you iterate.

(Difficult) Define the function `argmax_func` that does the same thing using reduce. Hint: how can you keep track of multiple things through the reduce steps?

In [214]:
argmax_iter = function(x) {
    
}

In [216]:
test = rnorm(100)
stopifnot(argmax_iter(c(1, -3, 2, 6, 3)) == 4)
stopifnot(argmax_iter(test) == which.max(test))
stopifnot(argmax_func(c(1, -3, 2, 6, 3)) == 4)
stopifnot(argmax_func(test) == which.max(test))

## Q3: News Headlines

We are going to look through headlines from ABC News. The following loads the dataset we will use.

In [105]:
headlines = read_csv('https://raw.githubusercontent.com/rogerfan/stats306_f18_labs/master/abcnews_2017.csv', 
                     col_types=list(col_character(), col_character()))
sents = get_sentiments("afinn")

head(headlines)
head(sents)

  publish_date headline_text
1 20170101     1986 queensland cabinet documents released
2 20170101     actor william cristopher mash chaplain dead at 84
3 20170101     adelaide hip hop artist dreams becoming influential in australia
4 20170101     adelaide's new year's fireworks
5 20170101     adelaides new years fireworks
6 20170101     ambulances ferry injured to hospital istanbul nightclub attack

  word       score
1 abandon    -2
2 abandoned  -2
3 abandons   -2
4 abducted   -2
5 abduction  -2
6 abductions -2

### 3.1

Create `headlines1` in which `publish_date` is converted the appropriate date format and there is an additional `id` variable that gives each headline a unique id number.

In [1]:
headlines1 = NA

### 3.2

Using `headlines1` and the `sents` dataset we loaded (which contains sentiment scores for each word), create `headlines2`, which adds a variable called `score` that contains the sentiment score for that word. Note that the sentiment score is simply the sum of the sentiment scores for each word in the headline.

In [2]:
headlines2 = NA

### 3.3

Write a function `get_headlines` that takes a string `keyword` as an argument and returns a subset of `headlines2` with only rows where the headline contains the given `keyword`. The returned dataframe should contain an additional column titled `keyword` that contains the keyword provided to the function.

In [ ]:
get_headlines = function(keyword) {
    
}

head(get_headlines('iran'))

### 3.4

Using `get_headlines`, create a dataframe `headlines4` which, for each country in `country_interest`, contains the headlines associated with that country. The result should be a single dataframe. You should be able to do this with a one-liner.

In [3]:
country_interest = c('china', 'india', 'russia', 'syria', 'indonesia',
                     'japan', 'israel', 'iraq', 'iran', 'philippines',
                     'united states', 'france')

headlines4 = NA

### 3.5

Do whatever data management and plotting you need to replicate the following plot using `headlines4`. 

If you want to match the colors exactly, the colors I use for the endpoints of my scale are `muted('red')` and `muted('green')`.

![plot](stats306_lab13_prob3.png)

## Q4: Regex

### 4.1

Write a regex pattern `pattern1` that matches phone numbers where the area code and next three digits are the same (e.g. `123-123-4567`). For this problem, only consider phone numbers in the formats `123-456-7890` and `(123) 456-7890` to be valid.

In [141]:
pattern1 = ''

In [ ]:
match_these = c(
    '123-123-1754',
    '(296) 296-4164'
)

dont_match_these = c(
    '123-234-1754',
    '(296) 111-4164',
    '(975) 123 8134',
    '123-123 1754',
    '123 123 1754',
    '(296)-296-4164',
    '(296-296-4164',
    '296)-296-4164'
)

str_view(match_these, pattern1)
str_view(dont_match_these, pattern1)

### 4.2

Write a regex pattern `pattern2` that matches all the valid email addresses in `match_these` but none of the invalid ones in `dont_match_these`.

In [145]:
pattern2 = ''

In [ ]:
match_these = c(
    'firstname.lastname@domain.com',
    'email@subdomain.domain.com',
    'firstname+lastname@domain.com',
    'email@123.123.123.123',
    '1234567890@domain.com',
    'email@domain-one.com',
    '_______@domain.com',
    'email@domain.name',
    'email@domain.co.jp',
    'firstname-lastname@domain.com'
)

dont_match_these = c(
    'plainaddress',
    '#@%^%#$@#$@#.com',
    '@domain.com',
    'Joe Smith <email@domain.com>',
    'email.domain.com',
    'email@domain@domain.com',
    '.email@domain.com',
    'email@domain.com (Joe Smith)',
    'email@domain',
    'email@-domain.com',
    'email@domain..com'
)

str_view(match_these, pattern2)
str_view(dont_match_these, pattern2)